<div style="height: 100vh;">
  <div
    fxLayout="column"
    fxLayoutAlign="start center"
    style="margin-bottom: 80px; height: calc(100vh - 80px);"
    [style.marginTop]="marginTop"
  >
    <div
      style="background-color: white; height: calc(100vh - 80px);"
      [style.width]="width"
    >
      <router-outlet></router-outlet>
    </div>
  </div>

  <div
    fxLayout="row"
    fxLayoutAlign="center start"
    style="bottom: 0; height: 80px; position: fixed; width: 100vw; z-index: 1;"
  >
    <div style="background-color: white; height: 80px;" [style.width]="width">
      <div class="mat-body">&nbsp;</div>
    </div>
  </div>
</div>
