<div>
  <div
    *ngIf="sideMenu | async"
    [@sideMenuAnimation]
    style="background-color: #ffffff; position: absolute; z-index: 1;"
  >
    <div
      fxLayout="column"
      fxLayoutAlign="start center"
      style="border-radius: 8px; margin: 8px; width: 384px;"
    >
      <div
        fxLayout="row"
        fxLayoutAlign="start end"
        style="margin: 0; padding: 12px 24px 24px 12px; width: 100%;"
      >
        <div
          fxLayout="column"
          fxLayoutAlign="end center"
          style="margin-right: 12px;"
        >
          <button (click)="sideMenuToggle()" mat-button mat-icon-button>
            <mat-icon style="color: #212121; cursor: pointer;">
              menu_open
            </mat-icon>
          </button>

          <button mat-button mat-icon-button>
            <mat-icon style="color: #212121; cursor: pointer;"
              >settings</mat-icon
            >
          </button>
        </div>

        <form [formGroup]="searchForm" style="width: 100%;">
          <mat-form-field style="width: 100%;">
            <mat-label class="mat-body">MALAYALAM TWEETERS SEARCH</mat-label>
            <input
              [(formControl)]="searchInput"
              autocomplete="off"
              matInput
              matInputAutoFocus
              placeholder="example - linto_cheeran"
              style="text-overflow: ellipsis;"
              type="text"
            />
            <button
              *ngIf="searchInput.value"
              (click)="searchInput.setValue('')"
              mat-button
              mat-icon-button
              matSuffix
              style="margin-left: 2px;"
            >
              <mat-icon style="cursor: pointer;">close</mat-icon>
            </button>
            <mat-hint
              class="mat-small"
              fxLayout="row"
              fxLayoutAlign="start center"
            >
              <img
                *ngIf="searching"
                src="assets/loading.svg"
                style="height: 20px;"
              />
              <div *ngIf="!searching" style="font-size: x-small;">
                {{
                  searchResponse.hits.length < searchResponse.total
                    ? "LAST UPDATED " + searchResponse.hits.length + "/"
                    : ""
                }}{{
                  searchResponse.total
                    ? searchResponse.total +
                      " TWEETER" +
                      (1 < searchResponse.total ? "S" : "")
                    : "NO TWEETERS"
                }}
                FOUND
              </div>
            </mat-hint>
          </mat-form-field>
        </form>
      </div>

      <div
        *ngFor="let tweeter of searchResponse.hits"
        fxLayout="row"
        fxLayoutAlign="start end"
        style="margin: -24px 0 0 0; padding: 0 24px 0 64px; width: 100%;"
      >
        <mat-form-field
          (click)="openInBrowser(tweeter._id)"
          style="width: 100%;"
        >
          <input
            disabled
            matInput
            style="color: #212121; cursor: pointer; text-overflow: ellipsis;"
            type="text"
            value="{{ tweeter._id }}"
          />
        </mat-form-field>
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>
