<div>
  <div fxLayout="column" fxLayoutAlign="start end">
    <div
      fxLayout="row"
      fxLayoutAlign="end center"
      style="padding: 12px 24px; width: 100vw;"
    >
      <div fxLayout="row wrap" fxLayoutAlign="start center" class="mat-small">
        TRENDS IN&nbsp;
        <form [formGroup]="selectForm">
          <mat-form-field style="margin-top: 6px; width: 160px;">
            <mat-label>MALAYALAM TWEETS</mat-label>

            <mat-select [(formControl)]="selected">
              <mat-option
                *ngFor="
                  let option of wordartResponse | objectKeys;
                  let i = index
                "
                [ngStyle]="{ borderTop: i ? '2px dotted #e0e0e0' : '' }"
                disabled="{{ !wordartResponse[option].hits.length }}"
                value="{{ option }}"
                >{{
                  option == "favourites"
                    ? "FAVOURITES"
                    : option == "followers"
                    ? "FOLLOWERS"
                    : option == "friends"
                    ? "FRIENDS"
                    : option == "lists"
                    ? "LISTS"
                    : "INTERVALS"
                }}</mat-option
              >
            </mat-select>

            <mat-hint fxLayout="row" fxLayoutAlign="start center">
              <img
                *ngIf="loading"
                src="assets/loading.svg"
                style="height: 20px;"
            /></mat-hint>
          </mat-form-field>
        </form>
      </div>
    </div>

    <div
      fxLayout="column"
      fxLayoutAlign="center center"
      style="height: 100vh; width: 100vw;"
    >
      <div
        [attr.data-tagul-src]="getSrc(selected.value)"
        class="tagul-word-cloud"
        style="height: 100%; width: 100%;"
      >
        <canvas class="tagul-canvas"></canvas>
      </div>
    </div>

    <div
      fxLayout="column"
      fxLayoutAlign="center end"
      style="padding: 12px 24px; width: 100vw;"
    >
      <div class="mat-small" style="font-size: x-small; line-height: 16px;">
        {{ wordartResponse[selected.value]?.hits?.length || "ZERO" }} TWEETER{{
          1 < (wordartResponse[selected.value]?.hits?.length || 1) ? "S" : ""
        }}
      </div>
      <div class="mat-small" style="font-size: x-small; line-height: 16px;">
        FROM {{ getTimeString(wordartResponse[selected.value]?.startAt) }}
      </div>
    </div>
  </div>
</div>
